.emoji-panel{
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,.06);
  width: 400px;
}
.emoji-panel__heading{
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
}
.emoji-panel__body{
  max-height: 300px;
  overflow: auto;
}
.emoji-panel__btn{
  background: none;
  border: none;
  cursor: pointer;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.active{
  border-bottom: solid 3px #0ac5fe;
}